

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: #212121;
    background: linear-gradient(0deg, rgba(251, 242, 50, 1) 0%, rgba(35, 228, 226, 1) 100%);
    background-attachment: fixed;
    Permissions-Policy: fullscreen 'none';

}

p {
    margin: 0;
}

img,
picture {
    display: block;
}



a {
    display: block;
    margin: 0;
    text-decoration: none;

}

button {
    display: block;
    margin: 0;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;


}

button:focus,
button:hover {
    background: yellow;
    border-radius: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



#search-form {
    display: flex;
    align-items: center;
    font: inherit;
    justify-content: center;
    width: 40vw;
    border-radius: 10px;
    left: auto;
    width: 50%;
}

.search-form input,
.search-form button {
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}



.search-form button {
    display: none;
    top: 0;
    font-weight: bold;
    justify-content: flex-end;
    border-radius: 10px;
}

.search-form input:not(:placeholder-shown) {
    border-radius: 10px;

}

input:not(:placeholder-shown)+button {
    display: flex;
}


.gallery {
    margin-left: auto;
    margin-right: auto;
    padding: 70px 20px 50px 20px;

    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}



.photo-card {
    width: 100%;
    flex-basis: calc((100% - 60px) / 4);
    border-radius: 2px;
    overflow: hidden;
    
}

.photo-card:hover,
.photo-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.1),
        1px 4px 6px rgba(0, 0, 0, 0.3);
}

.photo-card img {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.info {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.info p {
    padding: 5px;
}

@media screen and (max-width: 767.98px) {
    .info {
        display: block;
        text-align: start;
    }

    .info p {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 1.2vw;
    }
}

.load-more {
    width: 30vw;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.2vw;
}